body{
    color: indianred;
    background-image: url(../images/minimalist-futurama.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.9;
}



